<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/header :: header"></head>
	<body>
		<div class="container">
			<div class="page-header">
				<h1>
					Home page
					<small th:if="${#authorization.expression('isAuthenticated()')}">
						logged in as <span th:text="${#authentication.name}" class="label label-primary"></span>
					</small>
					<small th:if="${#authorization.expression('!isAuthenticated()')}">
						<a href="/logIn" th:href="@{/logIn}">log in</a>
					</small>
				</h1>
			</div>
		</div>
	</body>
</html>