<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/header :: header"></head>
	<body>
		<div class="container">
			<div th:if="${#httpServletRequest.getParameter('error')}" th:with="message=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}" class="alert alert-danger text-center">
				<span th:text="${message}"></span>
			</div>
			<h2 class="text-center">Please log in</h2>
			<form class="form-horizontal" th:action="@{/authenticate}" method="post">
				<div class="form-group">
					<label class="col-sm-2 control-label" for="username">User name:</label>
					<div class="col-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
							<input type="text" id="username" class="form-control" name="username" />
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="password">Password:</label>
					<div class="col-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
							<input type="password" id="password" class="form-control" name="password" />
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="checkbox col-sm-offset-2 col-sm-10">
						<label>
							<input type="checkbox" name="remember-me" /> Remember me
						</label>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button id="submit" type="submit" class="btn btn-primary">Log in</button>
					</div>
				</div>
			</form>
		</div>
	</body>
</html>