<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/header :: header"></head>
	<body>
		<div class="container" th:if="${#authorization.expression('isAuthenticated()')}">
			<div class="page-header">
				<h1>
					User page <small>logged in as <span th:text="${#authentication.name}" class="label label-primary"></span></small>
				</h1>
			</div>
			<a th:href="@{/logOut}" class="btn btn-success">Log out</a>
		</div>
	</body>
</html>